# Set:

In [1]:
g = {'a',45,120,155,"papa"}
print(g)

{'papa', 45, 'a', 120, 155}

In [2]:
g

{120, 155, 45, 'a', 'papa'}

In [3]:
h = {}
m = {2}
print(h,type(h))
print(m,type(m))

{} <class 'dict'>
{2} <class 'set'>

In [4]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [9]:
s1 = {34,67,"sun",0,"moon"}
s1.add("rain")
print(s1)

{0, 34, 67, 'moon', 'rain', 'sun'}

In [10]:
s1

{0, 34, 67, 'moon', 'rain', 'sun'}

In [12]:
print(s1)
s1.pop()
print(s1)

{0, 34, 67, 'moon', 'rain', 'sun'}
{34, 67, 'moon', 'rain', 'sun'}

In [15]:
print(s1)
s1.remove('sun')
print(s1)

{34, 67, 'moon', 'rain', 'sun'}
{34, 67, 'moon', 'rain'}

In [17]:
s2 = {45,8,32,5,6}
s3 = {1,2,5,7,6,123,456}
print(s2)
print(s3)
print(s2.union(s3))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{32, 1, 2, 5, 6, 7, 8, 456, 45, 123}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

In [18]:
print(s2)
print(s3)
print(s3.intersection(s2))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{5, 6}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

# Dictionary:

In [32]:
t = {'name':("mama","papa","sista"),'age':20,'sal':[24,500,48.560]}
print(t,type(t))

{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56]} <class 'dict'>

In [33]:
print(t['sal'][0])

24

In [34]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [35]:
print(t.keys())

dict_keys(['name', 'age', 'sal'])

In [36]:
print(t.values())

dict_values([('mama', 'papa', 'sista'), 20, [24, 500, 48.56]])

In [38]:
y = {'name':"bro","age":[45,59],"sal":0}
print(y)

{'name': 'bro', 'age': [45, 59], 'sal': 0}

In [39]:
print(t.items())

dict_items([('name', ('mama', 'papa', 'sista')), ('age', 20), ('sal', [24, 500, 48.56])])

In [ ]:
[(key,value),(),()]

In [40]:
print(t.get('name'))
print(t.get('age'))
print(t.get('no'))

('mama', 'papa', 'sista')
20
None

In [41]:
print(t)

{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56]}

In [42]:
print(t)
t['no'] = 12
print(t)

{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56]}
{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': 12}

In [43]:
print(t)
t['no'] = [12,78,89,450]
print(t)

{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': 12}
{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': [12, 78, 89, 450]}

In [44]:
print(t)
t['no'] = "Bhargavi"
print(t)

{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': [12, 78, 89, 450]}
{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': 'Bhargavi'}

In [45]:
print(t)
t.setdefault('tr')
print(t)

{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': 'Bhargavi'}
{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': 'Bhargavi', 'tr': None}

In [46]:
print(t)

{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': 'Bhargavi', 'tr': None}

In [47]:
print(t)
t.update()
print(t)

{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': 'Bhargavi', 'tr': None}
{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': 'Bhargavi', 'tr': None}

In [50]:
print(t)
t.update({'tr':45})
print(t)

{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': 'Bhargavi', 'tr': None}
{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': 'Bhargavi', 'tr': 45}

In [51]:
print(t)

{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': 'Bhargavi', 'tr': 45}

In [54]:
print(t.update({'tr':"hima"}))

None

In [55]:
print(t)

{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': 'Bhargavi', 'tr': 'hima'}

In [56]:
print(t)
print(t.pop('age'))
print(t)

{'name': ('mama', 'papa', 'sista'), 'age': 20, 'sal': [24, 500, 48.56], 'no': 'Bhargavi', 'tr': 'hima'}
20
{'name': ('mama', 'papa', 'sista'), 'sal': [24, 500, 48.56], 'no': 'Bhargavi', 'tr': 'hima'}

In [57]:
print(t)
print(t.popitem())
print(t)

{'name': ('mama', 'papa', 'sista'), 'sal': [24, 500, 48.56], 'no': 'Bhargavi', 'tr': 'hima'}
('tr', 'hima')
{'name': ('mama', 'papa', 'sista'), 'sal': [24, 500, 48.56], 'no': 'Bhargavi'}

In [59]:
q = ['name','age','sal']
w = [12,45,7,88,78]
print(q)
print(w)
f = {'name':32,'donar':45}
f.fromkeys(q)
f.fromkeys(w)
print(f)
print(q)
print(w)
# syntax: fromkeys([],values)

['name', 'age', 'sal']
[12, 45, 7, 88, 78]
{'name': 32, 'donar': 45}
['name', 'age', 'sal']
[12, 45, 7, 88, 78]

In [61]:
q = ['name','age','sal']
w = 78
print(q)
print(w)
f = {}
f.fromkeys(q,w)
print(f)

['name', 'age', 'sal']
78
{}

In [62]:
t = {'name':"ramu",'sno':1}
t1 = {}
t1 = t.fromkeys(q,w)
print(t1)

{'name': 78, 'age': 78, 'sal': 78}

In [64]:
marks = {}.fromkeys(["Maths","Python","c++"],[0,45])
print(marks)

{'Maths': [0, 45], 'Python': [0, 45], 'c++': [0, 45]}

In [ ]:
contact application:
    
    1.Enter new record
    2.Display all records
    3.update record
    4.Delete Record
    
    1.ramu -> not exists
       mobile numbers -> xxxxxxx
    2. 
        name      mobile number
        ramu      xxxxxxxxxx
        rajesh    xxxxxxxxxx
    3. ramu -> exist
        mobile number -> xxxxxxxxxx
    4. ramu -> exist
        User deleted successfully
        User doesnt exists

In [ ]:
1 Enter new contact
2 Display all contacts
3 Update contact
4 Delete contact
0 Exit

    1  Enter your name : Bhargavi
       Bhargavi Already Exists
       Enter your mobile number : xxxxxxxxxx
            
    2  name       mobilenumber
       Bhargavi   xxxxxxxxxx
        
    3  Enter your name : Bhargavi
       Enter Updated mobile number : xxxxxxxxxx
        
       Bhargavi1
       Bhargavi1 does not exist in your contact
        
    4 Enter your name : Bhargavi
      Bhargavi record deleted successfully
      Bhargavi doesnt exist in your contact