# Markdown Format

# Heading-1
## Heading-2
### Heading-3
#### Heading-4
##### Heading-5
###### Heading-6
####### Heading-7

## Python Installations,Execution ways,Jupyter Installation

## Variable:
       - To store a value
       - To access the value in different function or method
       - To change the value

In [1]:
a = 10

In [2]:
a

10

In [4]:
b = 20

In [5]:
b

20

In [7]:
a = 200
b = 'Bhagi'
a
b

'Bhagi'

In [8]:
a = 200
b = 'Bhagi'
b
a

200

In [9]:
a = 200
b = 'Bhagi'
a,b

(200, 'Bhagi')

In [11]:
print(a,b)
print(b,a)

200 Bhagi
Bhagi 200

## Data Types
        - int -> Only Numbers
        - float -> decimal points
        - string -> either with "or"

````
   c = 23.000
   t = 'Hima'
````

In [14]:
c,t = 23.000,'Hima'

In [15]:
print(c,t)

23.0 Hima

In [16]:
c

23.0

## Type:
        -To know the data type for that value
        -type(variablename,data structure)

In [17]:
type(c)

float

In [18]:
g = '12.056'
g

'12.056'

In [19]:
print(g)

12.056

In [20]:
type(g)

str

In [21]:
print(type(g))

<class 'str'>

In [22]:
print(type(c))

<class 'float'>

In [25]:
a = 5
print(type(a))

<class 'int'>

In [26]:
print(type(a),type(c),type(g))

<class 'int'> <class 'float'> <class 'str'>

In [27]:
a,c,g

(5, 23.0, '12.056')

In [28]:
type(c),type(a),type(g)

(float, int, str)

## Input():
      - By default it will be considered as a string value
      - print(),read()

In [29]:
a = input()
print(a,type(a))

 <class 'str'>

In [30]:
d = 20

In [31]:
d

20

In [32]:
t = input("Enter a value: ")
print(t,type(t))

Enter a value: 5
5 <class 'str'>

In [33]:
t = input("Enter a value: ")
print(t,type(t))

Enter a value: Bhagi
Bhagi <class 'str'>

In [34]:
t = input("Enter a value: ")
print(t,type(t))

Enter a value: A
A <class 'str'>

## Type Casting
               - converting one data into another data type

In [35]:
p = int(input("Enter only integer values: "))
print(p,type(p))

Enter only integer values: 32
32 <class 'int'>

In [36]:
m = float(input("Enter Float values: "))
print(m,type(m))

Enter Float values: 21.05
21.05 <class 'float'>

## Task:
```
        Input: 
        Enter integer value: 48
        Enter Float values: 45.0218
        Output:
        Conversion of int value is: 48.0
        Conversion of float value is: 45
        Both case in string is: '48' '45.0218'
     ```

In [10]:
q = int(input("Enter integer value: "))
k = float(input("Enter Float values: "))
print("Conversion of int value is: ",float(q))
print("Conversion of float value is: ",int(k))
print("Both cases in string is: "+"'"+str(q)+"'"+" "+"'"+str(k)+"'")

Enter integer value: 48
Enter Float values: 45.0218
Conversion of int value is:  48.0
Conversion of float value is:  45
Both cases in string is: '48' '45.0218'