## Python Iterators,Data types,Data structures:
 
  - List
  - Tuple
  - Set
  - Dictionary

# List:
      - Different data type elements to store
      - It can be defined as "[]" and type casting as "list()"
      - It consists of index so slicing can be done
      - It stores the value in given format
      - In this the values can be changes

# Tuple:
      
      - It can stores different data type elements
      - It can be defined as "()" and type casting as "tuple()"
      - It consists of index and slicing can be done
      - It stores the value in given format
      - In this the values can't be changed
      - It can stores duplicate elements

# Set:
      - It can stores different data type elements
      - It can be defined as "{}" and type casting as "set()" => {a} => set
      - It doesn't consists of index and slicing can't be done
      - It stores the value in given format but it prints in alphabetiacl order
      - In this the values can be changes
      - It can stores the duplicate elements

# Dictionary: 
      - It can stores the different data type elements but it follows key and value pairs
      - It can be defined as "{}" by default as type casting as "dict()"
      - It consists of index but it can be applicate for either keys or values and slicing can be done
      - It stores the value in given format
      - In this the values can be changed
      - It cant stores the duplicate keys but it stores duplicate values

# List:

In [1]:
k = [23,45.26,"Bhagi",23,"Hima"]
k

[23, 45.26, 'Bhagi', 23, 'Hima']

In [5]:
k = [23,45.26,"Bhagi",23,"Hima"]
print(k,type(k))

[23, 45.26, 'Bhagi', 23, 'Hima'] <class 'list'>

In [6]:
a = 15
print(type(a))

<class 'int'>

In [11]:
print(k[2])
print(k[-2])

Bhagi
23

In [12]:
print(type(k))

<class 'list'>

In [13]:
print(dir(k))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [14]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [3]:
m = [45,78.56]
print(m)
n = input()
m.append(n)
print(m)

[45, 78.56]
Bhagi
[45, 78.56, 'Bhagi']

In [1]:
m = [45,78.56]
print(m)
n = input()
m.append(int(n))
print(m)

[45, 78.56]
45
[45, 78.56, 45]

In [3]:
n = ["Madhu",45,148,45.20]
b = n.copy()
print(b,type(b))
print(n)
n.append("Sandhya")
print(n)
print(b)
b.append("kasini")
print(n)
print(b)

['Madhu', 45, 148, 45.2] <class 'list'>
['Madhu', 45, 148, 45.2]
['Madhu', 45, 148, 45.2, 'Sandhya']
['Madhu', 45, 148, 45.2]
['Madhu', 45, 148, 45.2, 'Sandhya']
['Madhu', 45, 148, 45.2, 'kasini']

In [4]:
p = [12,15,12,78,'Bhagi',89,'Hima']
# print(p.count(1))
# print(p.count(12))
for n in p:
    print(n)

12
15
12
78
Bhagi
89
Hima

In [5]:
for b in range(len(p)):
    print(b)

0
1
2
3
4
5
6

In [6]:
p = [12,15,12,78,'Bhagi',89,'Hima']
# print(p.count(1))
# print(p.count(12))
for n in p:
    print("{} count is: {}".format(n,p.count(n)))

12 count is: 2
15 count is: 1
12 count is: 2
78 count is: 1
Bhagi count is: 1
89 count is: 1
Hima count is: 1

In [7]:
v = [78,89.1234,"Prakeerth"]
b = ["Sai","veda","kasini"]
v.extend(b)
print(v)
print(b)

[78, 89.1234, 'Prakeerth', 'Sai', 'veda', 'kasini']
['Sai', 'veda', 'kasini']

In [9]:
v = [78,89.1234,"Prakeerth"]
b = ["Sriram","veda","kasini"]
v.extend(b)
print(v)
print(b)
b.append(200)
print(v)
print(b)

[78, 89.1234, 'Prakeerth', 'Sriram', 'veda', 'kasini']
['Sriram', 'veda', 'kasini']
[78, 89.1234, 'Prakeerth', 'Sriram', 'veda', 'kasini']
['Sriram', 'veda', 'kasini', 200]

In [21]:
print(v.index("Prakeerth"))

2

In [13]:
x = [12,15,19,750]
x.insert(0,"Rajesh")
print(x)

['Rajesh', 12, 15, 19, 750]

In [15]:
print(list.__doc__)

Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [16]:
print(list.insert.__doc__)

Insert object before index.

In [17]:
print(list.count.__doc__)

Return number of occurrences of value.

In [18]:
x

['Rajesh', 12, 15, 19, 750]

In [19]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [28]:
x = ["Rajesh","12","15","19","750"]
print(x)

['Rajesh', '12', '15', '19', '750']

In [29]:
print(x)
x.pop()
print(x)

['Rajesh', '12', '15', '19', '750']
['Rajesh', '12', '15', '19']

In [30]:
x.pop(1)

'12'

In [27]:
print(x)

Rajesh

In [4]:
y = [45,89.12,76,"prasad","srilatha","ramesh"]
print(y)

[45, 89.12, 76, 'prasad', 'srilatha', 'ramesh']

In [7]:
print(y)
y.remove(76)
print(y)

[45, 89.12, 76, 'prasad', 'srilatha', 'ramesh']
[45, 89.12, 'prasad', 'srilatha', 'ramesh']

In [8]:
print(y)
y.reverse()
print(y)

[45, 89.12, 'prasad', 'srilatha', 'ramesh']
['ramesh', 'srilatha', 'prasad', 89.12, 45]

In [9]:
p = [45,2,200,1]
print(p)
p.sort()
print(p)

[45, 2, 200, 1]
[1, 2, 45, 200]

In [10]:
p = [45,2,200,1]
print(p)
p.sort()
print(p)

[45, 2, 200, 1]
[1, 2, 45, 200]

In [8]:
k = [45,12,40.125,0.1230]
print(k)
k.sort()
print(k)

[45, 12, 40.125, 0.123]
[0.123, 12, 40.125, 45]

In [25]:
s = ["abdul","tilak","ramu","zeeshan"]
print(s)
s.sort()
print(s)

['abdul', 'tilak', 'ramu', 'zeeshan']
['abdul', 'ramu', 'tilak', 'zeeshan']

In [26]:
sorted(s)

['abdul', 'ramu', 'tilak', 'zeeshan']

In [27]:
print(s)

['abdul', 'ramu', 'tilak', 'zeeshan']

In [28]:
d = [45,4,400]
f = sorted(d)
print(d)
print(f)

[45, 4, 400]
[4, 45, 400]

In [29]:
print(d)
d.clear()
print(d)

[45, 4, 400]
[]

# Tuple:

In [33]:
s = (12,48,79.5678,"sainath")
print(s,type(s))

(12, 48, 79.5678, 'sainath') <class 'tuple'>

In [32]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [34]:
print(s)
s.count(12)
print(s)

(12, 48, 79.5678, 'sainath')
(12, 48, 79.5678, 'sainath')

In [36]:
s.index(48)

1

In [38]:
p = (45,78,12,96,56)
d = list(p)
print(d,type(d))
d.sort()
q = tuple(d)
print(q)

[45, 78, 12, 96, 56] <class 'list'>
(12, 45, 56, 78, 96)